.inputRoot {
  width: 100%;

  .label {
    margin-left: 6px;
    color: whitesmoke;
  }

  .inputWrapper {
    padding: 5px;
    background-color: black;
    border: 1px solid darkred;
    border-radius: 8px;
    transition: all 0.2s;

    .input {
      background-color: unset;
      border: none;
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
      color: whitesmoke;

      &:focus {
        outline: none;
      }
    }

    &:focus-within {
      border-color: lightseagreen;
      background-color: #1b1b1b;
    }

    &:hover {
      background-color: #1b1b1b;
    }
  }
}
