.primary {
  padding: 0;

  .radio {
    margin-top: 12px;
  }

  .inputs {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .checkbox {
    margin-top: 14px;
  }
}
